body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}
.country__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.country__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(218, 218, 218, 0.733);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 500ms ease;
}
.country__container:hover {
  transform: scale(1.01);
}

.country__name {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
.country__capital,
.country__population,
.country__languages {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}
.country__language {
  margin: 5px 0 10px 0;
  text-align: center;
  color: #383838;
  list-style: none;
}
.country__image {
  display: block;
  max-width: 250px;
  margin: 15px auto 0 auto;
  border-radius: 8px;
}

.country__list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.country__item {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: background-color 250ms ease, transform 250ms ease;
  cursor: pointer;
}
.country__item:hover {
  background-color: #d0d7de;
  transform: translateX(5px);
}
